<div class="container">
    <h1 class="mt-3">Add Categories</h1>

    <form #form="ngForm" (ngSubmit)="OnFormSubmit()" >
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">Category Name</label>
                <input type="text" id="CategoryName" class="form-control" 
                    name="CategoryName" [(ngModel)] = "model.name">
            </div>

            <div class="mt-3">
                <label class="form-label">Category UrlHandler</label>
                <input type="text" id="CategoryUrl" class="form-control" 
                    name="CategoryUrl" [(ngModel)] ="model.urlHandle">
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-light ms-3" (click) ="BackCategory()">Back</button>
            </div>

        </div>
    </form>
</div>
