<div class="container">
    <h1> Edit BlogPost</h1>
    <ng-container *ngIf="model">

        <form #form="ngForm" (ngSubmit)="OnSubmit()">
            <div class="mt3 mb-5">
                <div class="mt-2">
                    <label for="Title" class="form-label"> Title</label>
                    <input class="form-control" type="text" name="title" id="title" [(ngModel)]="model.title"#title="ngModel" required minlength="3"
                    [ngClass]="{'is-invalid': title.invalid && (title.dirty || title.touched), 'is-valid': title.valid && (title.dirty || title.touched)}">
                    <div class="invalid-feedback" *ngIf="title.invalid && (title.dirty || title.touched)">
                        <small *ngIf="title.errors?.['required']">Title is required.</small>
                        <small *ngIf="title.errors?.['minlength']">Title must be at least 3 characters long.</small>
                    </div>
                </div>

                <div class="mt-2">
                    <label for="ShortDescription" class="form-label"> Short Description</label>
                    <input class="form-control" type="text" name="ShortDescription" id="ShortDescription"
                        [(ngModel)]="model.shortDescription"#shortDescription="ngModel" required
                        (input)="onInputChange($event)" 
                        [ngClass]="{'is-invalid': shortDescription.invalid && (shortDescription.dirty || shortDescription.touched)}">
                    <div class="invalid-feedback" *ngIf="shortDescription.invalid && (shortDescription.dirty || shortDescription.touched)">
                        <small *ngIf="shortDescription.errors?.['required']">Short Description is required.</small>
                        <small *ngIf="shortDescription.errors?.['maxWords']">Maximum word count of 500 exceeded.</small>
                    </div>
                    <div class="mt-2">
                        <small>Word Count: {{ wordCount }} / {{ maxWords }}</small>
                        <small *ngIf="wordCount > maxWords" class="text-danger">Word count exceeds the limit!</small>
                    </div>
                </div>

                <div class="mt-2">
                    <label for="Content" class="form-label"> Content</label>
                    <div class="d-flex flex-row">
                        <div class="col-6 p-2">
                            <textarea id="Content" name="Content" class="form-control"
                                style="height: 350px; max-height: 400px;" [(ngModel)]="model.content"#content="ngModel"
                                required
                                [ngClass]="{'is-invalid': content.invalid && (content.dirty || content.touched)}">
                            </textarea>
                            <div class="invalid-feedback" *ngIf="content.invalid && (content.dirty || content.touched)">
                                <small *ngIf="content.errors?.['required']">Content is required.</small>
                            </div>
                        </div>

                        <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll;">
                            <markdown [data]="model.content"></markdown>
                        </div>
                    </div>
                    <!-- <textarea name="Content" id="Content" class="form-control" [(ngModel)]="model.Content"></textarea> -->
                </div>

                <div class="mt-2">
                    <label for="UrlHandle" class="form-label"> Url Handle</label>
                    <input class="form-control" type="text" name="UrlHandle" id="UrlHandle"
                        [(ngModel)]="model.urlHandle"#urlHandle="ngModel" required
                        [ngClass]="{'is-invalid': urlHandle.invalid && (urlHandle.dirty || urlHandle.touched)}">
                    <div class="invalid-feedback" *ngIf="urlHandle.invalid && (urlHandle.dirty || urlHandle.touched)">
                        <small *ngIf="urlHandle.errors?.['required']">Url Handle is required.</small>
                    </div>
                </div>

                <div class="mt-2">
                    <label for="FeaturedImageURL" class="form-label"> Featured Image URL
                        <button type="button" class="btn btn-light m-5"(click)="OpenImagePopUp()"> Select Image</button>
                    </label>

                    <ng-container *ngIf="model.featuredImageURL !== ''">
                        <div>
                            <img [src]="model.featuredImageURL" style="height: 250px;" class="my-2">
                        </div>
                    </ng-container>

                    <input class="form-control" type="text" name="FeaturedImageURL" id="FeaturedImageURL"
                        [(ngModel)]="model.featuredImageURL"#FeaturedImageURL="ngModel" required
                        [ngClass]="{'is-invalid': FeaturedImageURL.invalid && (FeaturedImageURL.dirty || FeaturedImageURL.touched)}">
                    <div class="invalid-feedback" *ngIf="urlHandle.invalid && (FeaturedImageURL.dirty || FeaturedImageURL.touched)">
                        <small *ngIf="FeaturedImageURL.errors?.['required']">Image is required.</small>
                    </div>
                </div>

                <div class="mt-2">
                    <label for="DateCreated" class="form-label"> DateCreated </label>
                    <input class="form-control" type="date" name="DateCreated" id="DateCreated"
                        value="{{model.dateCreated}}" [ngModel]="model.dateCreated | date: 'yyy-MM-dd'"
                        (ngModelChange)="model.dateCreated = $event" #dateCreated="ngModel"
                        [ngClass]="{'is-invalid': dateCreated.invalid && (dateCreated.dirty || dateCreated.touched)}">
                    <div class="invalid-feedback" *ngIf="dateCreated.invalid && (dateCreated.dirty || dateCreated.touched)">
                        <small *ngIf="dateCreated.errors?.['required']">Date Created is required.</small>
                    </div>
                </div>

                <!-- <div class="mt-2">
                    <label for="Author" class="form-label"> Author </label>
                    <input class="form-control" type="text" name="Author" id="Author" [(ngModel)]="model.author" #author="ngModel" required
                    [ngClass]="{'is-invalid': author.invalid && (author.dirty || author.touched)}">
                    <div class="invalid-feedback" *ngIf="author.invalid && (author.dirty || author.touched)">
                        <small *ngIf="author.errors?.['required']">Author is required.</small>
                    </div>
                </div> -->

                <div class="mt-2">
                    <label for="Author" class="form-label"> Author </label>
                    <ng-container *ngIf="authorsub$ | async as authors">
                        <select #authorSelect class="form-control" [(ngModel)]="model.author"
                        id="authors" (change)="onAuthorChange(authorSelect.value)" #author="ngModel" required
                        [ngClass]="{'is-invalid': author.invalid && (author.dirty || author.touched)}">
                            <option *ngFor="let author of authors" [value]="author.id" >
                                {{author.authorName}}
                            </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="author.invalid && (author.dirty || author.touched)">
                            <small *ngIf="author.errors?.['required']">Author is required.</small>
                        </div>
                    </ng-container>
                </div>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="IsVisible" name="IsVisible"
                        [(ngModel)]="model.isVisible">
                    <label class="form-check-label" for="IsVisible">
                        Is Visible?
                    </label>
                </div>

                <div class="mt-2">
                <label for="Category" class="form-label"> Categories </label>
                <ng-container *ngIf="categorysub$ | async as categories">
                    <select class="form-control" [(ngModel)]="selectedCat" name="categories"
                    id="categories" multiple >
                        <option *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                </ng-container>
              </div>

                <div class="mt-2 d-flex">
                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
                    <button class="btn btn-danger ms-3" type="submit" (click)="DeleteBlogPost()">Delete</button>
                </div>
            </div>
        </form>

    </ng-container>
</div>


<div class="image-selector-style" [ngClass]="{'d-block': isImagePopUpVisible,
    'd-none': !isImagePopUpVisible }">
    <button class="btn btn-light" type="button" style="position: fixed; top: 10px; right: 10px;"
     (click)="ClosePopup()"> X </button>
    <app-image-selector></app-image-selector>
</div>
